.title{
    text-align: center;

}
.profile{
    border: 1px solid black;
    margin: 50px;
    width: 500px;
    
    
    
    
}
.imageDiv{
    border: 1px solid black;
    height: 490px;
}
.main{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.image{
height: 100%;
width: 100%;
    object-fit: cover;
    background-position: center;
   background-size: cover;
flex-direction: row;
}

